body{
    text-align: center;
    background-image: url("../img/login/fondologin.png");
    width: 100%;
    height: 100%;
    background-size: auto;
    
}

a{
    text-decoration: none;
    color: #C19A6B;
}

#login{
    border-radius: 20px;
    box-shadow: 10px 5px 5px gray;
    width: 300px;
    height: 350px;
    background-color:white;
    margin-left: 40%;
    margin-top: 10%;
    text-align: center;
        
}

.quitar-bordes {
    border-style: none;
}

.estilo-icon-input {
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #dfdfdf;
}

.quitar-borde-left {
    border-left-style: none;
}

.estilos-links {
    color: #646CA4;
    size: 10px;
}

.menu-color{
    background-color: #dd1717;
}

ul li a{
    color:#C19A6B;
}

.items-menu{
    color:#C19A6B !important; 
    border: 1px solid; 
    border-radius: 10px;
}

.banner{
    
    
}

.rep-van-inv{
    /* width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid; */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px 64px;
    gap: 17px;

    width: 235px;
    height: 217.81px;

    background: #FFFFFF;
    border: 1px solid rgba(167, 169, 172, 0.5);
    box-shadow: 0px 4px 50px #A7A9AC;
    border-radius: 48px;
}

.texto-tarjetas{
    width: 118px;
    height: 29px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23.8187px;
    line-height: 29px;

    color: #C19A6B;

}

.row {
    display: flex;
    justify-content: center;
}

.titulos{
    text-align: center;
    width: 325px;
    height: 66px;
    left: calc(50% - 325px/2 + 0.5px);
    top: 163px;

    font-family: 'Goudy Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 55.1331px;
    line-height: 66px;

    color: #C19A6B;
    width: 100%;
}